@media screen and (min-width:7px) and (max-width:800px) {
    * {
        box-sizing: border-box;
    }
    .alert-info{
            height:7%;
            background-color: #b1f7ff;
            text-align:center;
            border:1px solid lightgrey;
            color: black;
            line-height:50px;
            margin-left:auto;
            margin-right:auto;
            width:90%;
        }
        .alert-info a{
            color:black;
            text-decoration: none;
            line-height: 30px;
        }
        body h1{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
            height:13%
        }
        body{
            height:100%;
        }
        .nav-links a{color:blue;}
        .header-img img{
            width: 329px;
            height:220px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .sub-section{
            font-style: italic;
            font-size: small;
        }
        .nav-links li{
            display: block;
            background-color: #d3d3d8;
            text-align: center;
            margin-bottom:1%;
            margin-right:auto;
            margin-left:auto;
            padding:10px;
            width:90%;
        }

        ul.nav-links{
            padding-left: 0;
            height:40%;
        }
        footer{
            padding-top:10px;
            font-size: x-small;
    }
        #text{
        height:50%;
        }
}
@media screen and (min-width:801px){
        body h1{
            margin-left: 5%;
            float:left;
            text-align:left;
            font-size:3em;
        }
        .alert-info{display:none;}
    .nav-links a{color:blue;}
        .nav-links li{
            margin-top:2em;
            margin-right: 3%;
            font-size: larger;
            float:right;
            padding-left: 10px;
            padding-right:10px;
            display:inline;
        }
        body{text-align:center;}
        .header-img img{
            clear:both;

            margin-left:auto;
            margin-right:auto;
            margin-top:1%;
            width: 890px;
            height:385px;
        }
        .main {
            float:left;
            margin-left: 5%;
            margin-right: 5%;
            width: 40%;
            text-align:left;
        }
        .sub-section {
            float:left;
            width: 35%;
            margin-left: 5%;
            margin-right: 5%;
            text-align:left;
        }
        footer{
            position:absolute;
            left:5%;
            bottom:10%;
        }
    }